.gradient-text {
  color: transparent;
  background: conic-gradient(
    var(--color-primary) 12%,
    var(--color-primary) 12%,
    var(--color-primary) 33%,
    var(--color-secondary) 33%,
    var(--color-secondary) 55%,
    #867ade 55%,
    #867ade 70%,
    #9351b6 70%,
    #9351b6 87%,
    #b2ec91 87%
  );
  padding: 0.6rem 0;
  background-size: 50%;
  background-clip: text;
}
