---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
<p>
    {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "posts" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        [<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>] 
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}
{% set definedDate = date %} {% include "partials/date.njk" %} </p>
<hr/>
<h3>Table of Contents</h3>
{{ content | toc | safe }}
<hr/>

    {{ content | safe }}
  </div>
</article>